<a href="https://colab.research.google.com/github/anil6k/master/blob/master/PYTHON_ML_Practie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
Ecommerce_Customers=pd.read_csv("/Mod8_EcommerceCustomers.csv")
Ecommerce_Customers

,Email,Address,Avatar,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer CommonDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David ThroughwayPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez PassagePort Jacobville, PR 372...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872Lake Jamiefurt, U...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497West Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633South Chadburgh, TN...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620146
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808Brendachester, TX 0...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,"49791 Rachel Heights Apt. 898East Drewborough,...",DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [ ]:

#X=pd.DataFrame(Ecommerce_Customers["Avg Session Length","Time on App","Time on Website","Length of Membership"])

In [ ]:
X=pd.DataFrame(Ecommerce_Customers.loc[:,["Avg Session Length","Time on App","Time on Website","Length of Membership"]])
Y=pd.DataFrame(Ecommerce_Customers["Yearly Amount Spent"])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()

lin_reg.fit(X_train, Y_train)

LinearRegression()

In [ ]:
y_pred = lin_reg.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score

r2_score(Y_test, y_pred)

0.9845608485656092

In [ ]:
from sklearn import metrics

print(metrics.mean_squared_error(Y_test,y_pred))

108.53346467062279

In [ ]:
#import pandas as pd
#facebook_data=pd.read_csv("/content/dataset_Facebook_cos.csv")
#facebook_data

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 24.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=7b2e975ba63a4cff0a904be361552ab6705b694b31a43da8436ac7b2c15ffd0a
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.master("local[*]").getOrCreate()
facebook_data=spark.read.option("header","true").csv("/content/dataset_Facebook_cos.csv")
facebook_data.show(10)

+----------------+------+--------+----------+------------+---------+----+-------------------------+-------------------------------+----------------------+-----------------------+--------------------------+------------------------------------------------------------+------------------------------------------------+-------------------------------------------------------------------+-------+----+-----+------------------+
|Page total likes|  Type|Category|Post Month|Post Weekday|Post Hour|Paid|Lifetime Post Total Reach|Lifetime Post Total Impressions|Lifetime Engaged Users|Lifetime Post Consumers|Lifetime Post Consumptions|Lifetime Post Impressions by people who have liked your Page|Lifetime Post reach by people who like your Page|Lifetime People who have liked your Page and engaged with your post|comment|like|share|Total Interactions|
+----------------+------+--------+----------+------------+---------+----+-------------------------+-------------------------------+----------------------+-----------------------+--------------------------+------------------------------------------------------------+------------------------------------------------+-------------------------------------------------------------------+-------+----+-----+------------------+
|          139441| Photo|       2|        12|           4|        3|   0|                     2752|                           5091|                   178|                    109|                       159|                                                        3078|                                            1640|                                                                119|      4|  79|   17|               100|
|          139441|Status|       2|        12|           3|       10|   0|                    10460|                          19057|                  1457|                   1361|                      1674|                                                       11710|                                            6112|                                                               1108|      5| 130|   29|               164|
|          139441| Photo|       3|        12|           3|        3|   0|                     2413|                           4373|                   177|                    113|                       154|                                                        2812|                                            1503|                                                                132|      0|  66|   14|                80|
|          139441| Photo|       2|        12|           2|       10|   1|                    50128|                          87991|                  2211|                    790|                      1119|                                                       61027|                                           32048|                                                               1386|     58|1572|  147|              1777|
|          139441| Photo|       2|        12|           2|        3|   0|                     7244|                          13594|                   671|                    410|                       580|                                                        6228|                                            3200|                                                                396|     19| 325|   49|               393|
|          139441|Status|       2|        12|           1|        9|   0|                    10472|                          20849|                  1191|                   1073|                      1389|                                                       16034|                                            7852|                                                               1016|      1| 152|   33|               186|
|          139441| Photo|       3|        12|           1|        3|   1|                    11692|                          19479|                   481|                    265|                       364|                                                       15432|                                            9328|                                                                379|      3| 249|   27|               279|
|          139441| Photo|       3|        12|           7|        9|   1|                    13720|                          24137|                   537|                    232|                       305|                                                       19728|                                           11056|                                                                422|      0| 325|   14|               339|
|          139441|Status|       2|        12|           7|        3|   0|                    11844|                          22538|                  1530|                   1407|                      1692|                                                       15220|                                            7912|                                                               1250|      0| 161|   31|               192|
|          139441| Photo|       3|        12|           6|       10|   0|                     4694|                           8668|                   280|                    183|                       250|                                                        4309|                                            2324|                                                                199|      3| 113|   26|               142|
+----------------+------+--------+----------+------------+---------+----+-------------------------+-------------------------------+----------------------+-----------------------+--------------------------+------------------------------------------------------------+------------------------------------------------+-------------------------------------------------------------------+-------+----+-----+------------------+
only showing top 10 rows

In [ ]:
NewColumns=(column.replace(' ', '_') for column in facebook_data.columns)
facebook_data = facebook_data.toDF(*NewColumns)
facebook_data

DataFrame[Page_total_likes: string, Type: string, Category: string, Post_Month: string, Post_Weekday: string, Post_Hour: string, Paid: string, Lifetime_Post_Total_Reach: string, Lifetime_Post_Total_Impressions: string, Lifetime_Engaged_Users: string, Lifetime_Post_Consumers: string, Lifetime_Post_Consumptions: string, Lifetime_Post_Impressions_by_people_who_have_liked_your_Page: string, Lifetime_Post_reach_by_people_who_like_your_Page: string, Lifetime_People_who_have_liked_your_Page_and_engaged_with_your_post: string, comment: string, like: string, share: string, Total_Interactions: string]

In [ ]:
print(NewColumns)

<generator object <genexpr> at 0x7f73a4b2e890>

In [ ]:
for i in facebook_data.columns:
  print(i)

Page_total_likes
Type
Category
Post_Month
Post_Weekday
Post_Hour
Paid
Lifetime_Post_Total_Reach
Lifetime_Post_Total_Impressions
Lifetime_Engaged_Users
Lifetime_Post_Consumers
Lifetime_Post_Consumptions
Lifetime_Post_Impressions_by_people_who_have_liked_your_Page
Lifetime_Post_reach_by_people_who_like_your_Page
Lifetime_People_who_have_liked_your_Page_and_engaged_with_your_post
comment
like
share
Total_Interactions

In [ ]:
facebook_data2 = facebook_data.withColumn("Page_total_likes", 
                                  facebook_data["Page_total_likes"]
                                  .cast('integer')).withColumn("Category", 
                                  facebook_data["Category"]
                                  .cast('integer')).withColumn("Post_Month", 
                                  facebook_data["Post_Month"]
                                  .cast('integer')).withColumn("Post_Weekday", 
                                  facebook_data["Post_Weekday"]
                                  .cast('integer')).withColumn("Post_Hour", 
                                  facebook_data["Post_Hour"]
                                  .cast('integer')).withColumn("Lifetime_Post_Total_Reach", 
                                  facebook_data["Lifetime_Post_Total_Reach"]
                                  .cast('integer')).withColumn("Lifetime_Post_Total_Impressions", 
                                  facebook_data["Lifetime_Post_Total_Impressions"]
                                  .cast('integer')).withColumn("Lifetime_Engaged_Users", 
                                  facebook_data["Lifetime_Engaged_Users"]
                                  .cast('integer')).withColumn("Lifetime_Post_Consumers", 
                                  facebook_data["Lifetime_Post_Consumers"]
                                  .cast('integer')).withColumn("Lifetime_Post_Consumptions", 
                                  facebook_data["Lifetime_Post_Consumptions"]
                                  .cast('integer')).withColumn("Lifetime_Post_Impressions_by_people_who_have_liked_your_Page", 
                                  facebook_data["Lifetime_Post_Impressions_by_people_who_have_liked_your_Page"]
                                  .cast('integer')).withColumn("Lifetime_Post_reach_by_people_who_like_your_Page", 
                                  facebook_data["Lifetime_Post_reach_by_people_who_like_your_Page"]
                                  .cast('integer')).withColumn("Lifetime_People_who_have_liked_your_Page_and_engaged_with_your_post", 
                                  facebook_data["Lifetime_People_who_have_liked_your_Page_and_engaged_with_your_post"]
                                  .cast('integer')).withColumn("comment", 
                                  facebook_data["comment"]
                                  .cast('integer')).withColumn("like", 
                                  facebook_data["like"]
                                  .cast('integer')).withColumn("share", 
                                  facebook_data["share"]
                                  .cast('integer')).withColumn("Total_Interactions", 
                                  facebook_data["Total_Interactions"]
                                  .cast('integer'))
facebook_data2.printSchema()

root
 |-- Page_total_likes: integer (nullable = true)
 |-- Type: string (nullable = true)
 |-- Category: integer (nullable = true)
 |-- Post_Month: integer (nullable = true)
 |-- Post_Weekday: integer (nullable = true)
 |-- Post_Hour: integer (nullable = true)
 |-- Paid: string (nullable = true)
 |-- Lifetime_Post_Total_Reach: integer (nullable = true)
 |-- Lifetime_Post_Total_Impressions: integer (nullable = true)
 |-- Lifetime_Engaged_Users: integer (nullable = true)
 |-- Lifetime_Post_Consumers: integer (nullable = true)
 |-- Lifetime_Post_Consumptions: integer (nullable = true)
 |-- Lifetime_Post_Impressions_by_people_who_have_liked_your_Page: integer (nullable = true)
 |-- Lifetime_Post_reach_by_people_who_like_your_Page: integer (nullable = true)
 |-- Lifetime_People_who_have_liked_your_Page_and_engaged_with_your_post: integer (nullable = true)
 |-- comment: integer (nullable = true)
 |-- like: integer (nullable = true)
 |-- share: integer (nullable = true)
 |-- Total_Interactions: integer (nullable = true)

In [ ]:
facebook_data.count()

500

In [ ]:
from pyspark.sql.functions import max
facebook_data2.select(max(facebook_data2.Page_total_likes)).show()

+---------------------+
|max(Page_total_likes)|
+---------------------+
|               139441|
+---------------------+

In [ ]:
b=facebook_data2.agg({"Post_Month":"max"})
b

DataFrame[max(Post_Month): int]

In [ ]:
 df=facebook_data2.groupBy("Post_Month").avg("Total_Interactions")
 df.agg({"avg(Total_Interactions)":"max"}).show()

+----------------------------+
|max(avg(Total_Interactions))|
+----------------------------+
|                       328.5|
+----------------------------+

In [ ]:
facebook_data2.createOrReplaceTempView("facebook")
spark.sql("select (max(Page_total_likes)-min(Page_total_likes)) increase from facebook").show()

+--------+
|increase|
+--------+
|   58071|
+--------+

In [ ]:
df=facebook_data2.groupBy("Post_Weekday").avg("Total_Interactions").alias("avg_Interactions")
df.show()
#df.agg({"Post_Weekday":"count","avg(Total_Interactions)":"max"}).show()
#df.createOrReplaceTempView("df1")
#spark.sql("select Post_Weekday,max(avg_Interactions) from df1")

+------------+-----------------------+
|Post_Weekday|avg(Total_Interactions)|
+------------+-----------------------+
|           1|     237.02941176470588|
|           6|     162.80246913580248|
|           3|             287.765625|
|           5|      205.3134328358209|
|           4|     260.52777777777777|
|           7|     153.58536585365854|
|           2|     200.45454545454547|
+------------+-----------------------+

In [ ]:
facebook_data2.createOrReplaceTempView("df1")
spark.sql("select Post_Weekday,avg(Total_Interactions) avg_Interactions from df1 group by Post_Weekday order by avg_Interactions desc limit 1").show()

+------------+----------------+
|Post_Weekday|avg_Interactions|
+------------+----------------+
|           3|      287.765625|
+------------+----------------+

In [ ]:
facebook_data2.show()

+----------------+------+--------+----------+------------+---------+----+-------------------------+-------------------------------+----------------------+-----------------------+--------------------------+------------------------------------------------------------+------------------------------------------------+-------------------------------------------------------------------+-------+----+-----+------------------+
|Page_total_likes|  Type|Category|Post_Month|Post_Weekday|Post_Hour|Paid|Lifetime_Post_Total_Reach|Lifetime_Post_Total_Impressions|Lifetime_Engaged_Users|Lifetime_Post_Consumers|Lifetime_Post_Consumptions|Lifetime_Post_Impressions_by_people_who_have_liked_your_Page|Lifetime_Post_reach_by_people_who_like_your_Page|Lifetime_People_who_have_liked_your_Page_and_engaged_with_your_post|comment|like|share|Total_Interactions|
+----------------+------+--------+----------+------------+---------+----+-------------------------+-------------------------------+----------------------+-----------------------+--------------------------+------------------------------------------------------------+------------------------------------------------+-------------------------------------------------------------------+-------+----+-----+------------------+
|          139441| Photo|       2|        12|           4|        3|   0|                     2752|                           5091|                   178|                    109|                       159|                                                        3078|                                            1640|                                                                119|      4|  79|   17|               100|
|          139441|Status|       2|        12|           3|       10|   0|                    10460|                          19057|                  1457|                   1361|                      1674|                                                       11710|                                            6112|                                                               1108|      5| 130|   29|               164|
|          139441| Photo|       3|        12|           3|        3|   0|                     2413|                           4373|                   177|                    113|                       154|                                                        2812|                                            1503|                                                                132|      0|  66|   14|                80|
|          139441| Photo|       2|        12|           2|       10|   1|                    50128|                          87991|                  2211|                    790|                      1119|                                                       61027|                                           32048|                                                               1386|     58|1572|  147|              1777|
|          139441| Photo|       2|        12|           2|        3|   0|                     7244|                          13594|                   671|                    410|                       580|                                                        6228|                                            3200|                                                                396|     19| 325|   49|               393|
|          139441|Status|       2|        12|           1|        9|   0|                    10472|                          20849|                  1191|                   1073|                      1389|                                                       16034|                                            7852|                                                               1016|      1| 152|   33|               186|
|          139441| Photo|       3|        12|           1|        3|   1|                    11692|                          19479|                   481|                    265|                       364|                                                       15432|                                            9328|                                                                379|      3| 249|   27|               279|
|          139441| Photo|       3|        12|           7|        9|   1|                    13720|                          24137|                   537|                    232|                       305|                                                       19728|                                           11056|                                                                422|      0| 325|   14|               339|
|          139441|Status|       2|        12|           7|        3|   0|                    11844|                          22538|                  1530|                   1407|                      1692|                                                       15220|                                            7912|                                                               1250|      0| 161|   31|               192|
|          139441| Photo|       3|        12|           6|       10|   0|                     4694|                           8668|                   280|                    183|                       250|                                                        4309|                                            2324|                                                                199|      3| 113|   26|               142|
|          139441|Status|       2|        12|           5|       10|   0|                    21744|                          42334|                  4258|                   4100|                      4540|                                                       37849|                                           18952|                                                               3798|      0| 233|   19|               252|
|          139441| Photo|       2|        12|           5|       10|   0|                     3112|                           5590|                   208|                    127|                       145|                                                        3887|                                            2174|                                                                165|      0|  88|   18|               106|
|          139441| Photo|       2|        12|           5|       10|   0|                     2847|                           5133|                   193|                    115|                       133|                                                        3779|                                            2072|                                                                152|      0|  90|   14|               104|
|          139441| Photo|       2|        12|           5|        3|   0|                     2549|                           4896|                   249|                    134|                       168|                                                        3631|                                            1917|                                                                183|      5| 137|   10|               152|
|          138414| Photo|       2|        12|           4|        5|   1|                    22784|                          39941|                   887|                    337|                       417|                                                       34415|                                           19312|                                                                684|      2| 577|   20|               599|
|          138414|Status|       2|        12|           3|       10|   0|                    10060|                          19680|                  1264|                   1209|                      1425|                                                       17272|                                            8548|                                                               1162|      4|  86|   18|               108|
|          138414| Photo|       3|        12|           3|        3|   0|                     1722|                           2981|                   163|                    123|                       148|                                                        1868|                                            1050|                                                                123|      2|  40|   12|                54|
|          138414| Photo|       1|        12|           2|       12|   1|                    53264|                         111785|                  1706|                   1103|                      1655|                                                       92512|                                           39776|                                                               1307|     15| 678|   20|               713|
|          138414|Status|       3|        12|           2|        3|   0|                     3930|                           7509|                   130|                     86|                       112|                                                        5009|                                            2410|                                                                101|      4|  54|   17|                75|
|          138414| Photo|       3|        12|           1|       11|   0|                     1591|                           2825|                   121|                     88|                       111|                                                        2116|                                            1161|                                                                100|      0|  34|    8|                42|
+----------------+------+--------+----------+------------+---------+----+-------------------------+-------------------------------+----------------------+-----------------------+--------------------------+------------------------------------------------------------+------------------------------------------------+-------------------------------------------------------------------+-------+----+-----+------------------+
only showing top 20 rows

In [ ]:
facebook_data2.createOrReplaceTempView("df1")
spark.sql("select min(Post_Weekday),avg(Total_Interactions) avg_Total_Interactions from df1  group by Post_Weekday order by avg_Total_Interactions desc").show()

+-----------------+----------------------+
|min(Post_Weekday)|avg_Total_Interactions|
+-----------------+----------------------+
|                3|            287.765625|
|                4|    260.52777777777777|
|                1|    237.02941176470588|
|                5|     205.3134328358209|
|                2|    200.45454545454547|
|                6|    162.80246913580248|
|                7|    153.58536585365854|
+-----------------+----------------------+

In [ ]:
facebook_data2.createOrReplaceTempView("df1")
spark.sql("select Type,count(Type) count_type,sum() from df1   group by Post_Hour order by count_type desc limit 1").show()

+-----+----------+
| Type|count_type|
+-----+----------+
|Photo|       426|
+-----+----------+

In [ ]:
df=facebook_data2.where(facebook_data2["Type"]== "Photo")
df.createOrReplaceTempView("df1")
spark.sql("select max(Post_Hour),sum(Lifetime_Post_Total_Impressions) sum_Lifetime_Post_Total_Impressions from df1 group by Post_Hour order by sum_Lifetime_Post_Total_Impressions desc limit 1").show()

+--------------+-----------------------------------+
|max(Post_Hour)|sum_Lifetime_Post_Total_Impressions|
+--------------+-----------------------------------+
|            13|                            2389483|
+--------------+-----------------------------------+

In [ ]:
df=facebook_data2.where(facebook_data2["Type"]== "Photo")
df.createOrReplaceTempView("df1")
spark.sql("select (like/comment) like_to_comment_ratio from df1").show()

+---------------------+
|like_to_comment_ratio|
+---------------------+
|                19.75|
|                 null|
|   27.103448275862068|
|   17.105263157894736|
|                 83.0|
|                 null|
|   37.666666666666664|
|                 null|
|                 null|
|                 27.4|
|                288.5|
|                 20.0|
|                 45.2|
|                 null|
|                 22.0|
|                 null|
|                 null|
|                 null|
|   14.527777777777779|
|    3.242424242424242|
+---------------------+
only showing top 20 rows

In [ ]:
#df=facebook_data2.where(facebook_data2["Type"]== "Photo")
facebook_data2.createOrReplaceTempView("df1")
spark.sql("select min(Category),avg(Lifetime_Post_Total_Reach) avg_Lifetime_Post_Total_Reach from df1 group by Category order by avg_Lifetime_Post_Total_Reach desc").show()
#spark.sql("select count(Category),avg(Lifetime_Post_Total_Reach) from df1 group by Category order by Lifetime_Post_Total_Reach desc limit 3").show()

+-------------+-----------------------------+
|min(Category)|avg_Lifetime_Post_Total_Reach|
+-------------+-----------------------------+
|            1|           18320.981395348837|
|            3|           11162.154838709677|
|            2|            9865.653846153846|
+-------------+-----------------------------+

In [ ]:
df1=facebook_data2.groupBy("Post_Hour").agg({"Lifetime_Post_Total_Reach":"avg"})
df2=df1.agg({"avg(Lifetime_Post_Total_Reach)":"stddev"})
df2.show()

+--------------------------------------+
|stddev(avg(Lifetime_Post_Total_Reach))|
+--------------------------------------+
|                     7178.088278354271|
+--------------------------------------+

In [ ]:
df.corr("Lifetime_Post_Consumptions","Total_Interactions")

0.21573504195330562

In [ ]:
def max_(a,b):
  if a>b:
    return a
  elif b>a:
    return b

max_(1,2)

2

In [ ]:
def max_of_three(a,b,c):
  if a>b and a>c:
    return a
  elif b>a and b>c:
    return b
  elif c>a and c>b:
    return b

max_of_three(6,7,5)

7

In [ ]:
def len_of_arg(a):
  length=0
  for i in a:
    length=length+1
  return length

len_of_arg("anil")

4

In [ ]:
def vowel(a):
  b=a.lower()
  if b in ("a","e","i","o","u"):
    return True
  else:
    return False

vowel("d")

False

In [ ]:
a="kjh"
b="kjhu"
b=a+2*b
b

'kjhkjhukjhu'

In [ ]:
def translate(a):
  b=""
  for i in range(len(a)) :
    if a[i] in ("a","e","i","o","u"):
      b=b+a[i]
    else:
      b=b+a[i]+"o"+a[i]
  return b
translate("anil")

'anonilol'

In [ ]:
def sum_(a):
  sum=0
  for i in a:
    sum=sum+i
  return sum
sum_([1,2,3,4,5])

def multiply_(a):
  multiply=1
  for i in a:
    multiply=multiply*i
  return multiply
multiply_([1,2,3,4,5])

120

In [ ]:
def reverse(a):
  b=a[::-1]
  return b
reverse("anil ram kalaga")

'agalak mar lina'

In [ ]:
def palindrome(a):
  b=a[::-1]
  if a==b:
     print("{} is a palindrome".format(a))

  else:
    print("{} is not a palindrome".format(a))
palindrome("radar")

radar is a palindrome

In [ ]:
def is_member(x,a):
  for i in a :
    if i==x:
      return True
  else:
    return False
is_member(5,[2,3,4,1])

False

In [ ]:
def overlapping(a,b):
  for i in a:
    for j in b:
      if j==i:
        return True

  else:
    return False

overlapping(["anil","ram","kalaga"],["kiran","josyula","surya","anil"])

True

In [ ]:
def generate_n_chars(a,b):
  c=""
  for i in range(a):
    c=c+b
  return c

generate_n_chars(5,"c")

'ccccc'

In [ ]:
def histogram(a):
  for i in a:
    for j in range(i):
      print("*",end="") 
    print("\n")
histogram([4,3,7])

****

***

*******

In [ ]:
def max_in_list(a):
  c=a[0]
  for i in range(len(a)) :
    if c>a[i]:
        continue
    else:
       c=a[i]
  return c
max_in_list([1,2,3,8,5,9])

9

In [ ]:
def maps_list(x):
  y={}
  for i in x:
    y[i]=len(i)
  return y
maps_list(["anil","ram","kalaga"])

{'anil': 4, 'ram': 3, 'kalaga': 6}

In [ ]:
def longest_word(x):
  y={}
  for i in x:
    y[i]=len(i)
  
  c=0
  for i in y :
    if c>y[i]:
        continue
    else:
       c=y[i]
  return c
longest_word(["anil","ram","kalaga","kattapppaa"])

10

In [ ]:
def longer_words(x,n):
  y={}
  for i in x:
    if len(i)>n:
      y[i]=len(i)
  return y
  
longer_words(["anil","ram","kalaga","kattapppaa"],5)

{'kalaga': 6, 'kattapppaa': 10}

In [ ]:
def palindrome_recognizer(a):
  b=""
  for i in a:
    if i==" " or i=="?" or i=="!" or i=="." or i==",":
      continue
    else:
      b=b+i.lower()
    
  c=b[::-1]
  if c==b:
     print("palindrome")
  else:
    print("not a palindrome")

palindrome_recognizer("Sit on a potato pan, Otiis")

not a palindrome

In [ ]:
import string
c=[]
for i in string.ascii_lowercase:
  c.append(i)

In [ ]:
def pangram(x):
  import string
  c=""
  for i in string.ascii_lowercase:
    c=c+i

  

  for i in c:
    if i not in x.lower():
        return False
    
  return True

pangram("The quick brown fox jumps over the lazy dog")
if pangram("The quick brown fox jumps over the lazy dog")==True:
  print("Yes")

else:
  print("No")

Yes

In [ ]:
def song(n):
  for i in range(n):
    print("{} bottles of beer on the wall, {} bottles of beer.\nTake one down, pass it around, {} bottles of beer on the wall.".format(99-i,99-i,99-i-1))

song(99)

99 bottles of beer on the wall, 99 bottles of beer.
Take one down, pass it around, 98 bottles of beer on the wall.
98 bottles of beer on the wall, 98 bottles of beer.
Take one down, pass it around, 97 bottles of beer on the wall.
97 bottles of beer on the wall, 97 bottles of beer.
Take one down, pass it around, 96 bottles of beer on the wall.

In [ ]:
def swedish(x,y):
  s=""
  a=x.split(" ")
  for i in a:
    s=s+" "+y[i]
  return s
swedish("merry christmas",{"merry":"god", "christmas":"jul", "and":"och", "happy":"gott", "new":"nytt", "year":"år"})

' god jul'

In [ ]:
y={"merry":"god", "christmas":"jul", "and":"och", "happy":"gott", "new":"nytt", "year":"år"}
type(y["merry"])

str

In [ ]:
 x="anil ram kalaga"
 a=[x.split(" ")]
 a

[['anil', 'ram', 'kalaga']]

In [ ]:
def char_freq(x):
  y={}
  for i in x:
    if i in y:
      y[i]+=1
    else:
      y[i]=1
  return y

char_freq("anilramkalaga")

{'a': 5, 'n': 1, 'i': 1, 'l': 2, 'r': 1, 'm': 1, 'k': 1, 'g': 1}

In [ ]:
def decoder(x):
  y=""
  dictionary = {'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 
       'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c', 
       'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k',
       'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 
       'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 
       'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 
       'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
  for i in x:
    if i in dictionary.keys():
      y+=dictionary[i]
    else:
      y+=i
  return y
decoder("Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!")

'Caesar cipher? I much prefer Caesar salad!'

In [ ]:
def correct(x):
  y=""
  for i in range(len(x)):
    if x[i]==" " and x[i+1]==" ":
      x.replace(x[i],"")
    else:
      y=y+x[i]
  return y
correct("anil ram  kalaga")

'anil ram kalaga'

In [ ]:
def plural_forms(x):
  if x[-1]=="y":
    x=x.rstrip(x[-1])
    x=x+"ies"
    print(x)

  elif x[-1] in ("o","s","x","z"):
    x=x+"es"
    print(x)
  elif x[len(x)-2:] in ("ch","sh"):
    x=x+"es"
    print(x)
  else:
    x=x+"s"
    print(x)

plural_forms("pretty")

pretties

In [ ]:
def make_ing_form(x):
  if x[-1]=="e" and x not in ("be","see","flee","knee") and x[len(x)-2:]!="ie":
    x=x.rstrip(x[-1])
    x=x+"ing"
    print(x)
  elif x[len(x)-2:]=="ie":
    x=x[:len(x)-2]+"y"+"ing"
    print(x)

  else:
    x=x+"ing"
    print(x)

make_ing_form("lie")

lying

In [ ]:
x=[1,2,3,4,5,6,7,8,9]
reduce(x)

NameError: ignored

In [ ]:
def avg_length_of_word(x):
  y=x.split(" ")
  a=0
  b=0
  for i in y:
    a=a+len(i)
    b=b+1
  return a/b


avg_length_of_word("anil ram kalaga completed his masters recently")

5.714285714285714

In [1]:
def avg_length_of_word(x):
  y=x.split(" ")
  a=0
  b=0
  for i in y:
    a=a+len(i)
    b=b+1
  return a/b


avg_length_of_word("anil ram kalaga completed his masters recently")

5.714285714285714